@import "vars.scss";

/* forms and tables */

form {
  width: 100%;
}

fieldset {
  padding: $space_one $space_one $space_three $space_one;
  border: 1px solid $color-midgrey;
}

fieldset legend {
  border-color: $color-midgrey;
  color: $color-darkgrey;
  padding: 0 5px;
  position: relative;
  top: -0.2em;
}

table.padded td, table.padded th {
  padding: 5px;
}

table.form td:first-child {
  width: 25%;
}

table.form td:last-child {
  width: 75%;
}

table.form input,
table.form textarea,
table.form select {
  width: 100%;
}

table.form input[type="checkbox"],
table.form input[type="radio"] {
  width: auto;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

#code {
  overflow: scroll;
}

table.status td:first-child {
  width: 75%;
}

table.status td:last-child {
  width: 25%;
}

fieldset div.line {
  padding: 5px;
}

fieldset div.line label {
  display: inline-block;
  width: 25%;
}

fieldset div.line.status label {
  width: 75%;
}

fieldset div.line input,
fieldset div.line textarea,
fieldset div.line select,
fieldset div.line span {
  display: inline-block;
  width: calc(75% - 10px);
}

fieldset div.line input[type="checkbox"],
fieldset div.line input[type="radio"] {
  width: auto;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/* buttons */

.buttonset {
  display: inline-block;
  padding: 5px 0;
}

.buttonset button,
.buttonset input[type="button"],
.buttonset input[type="submit"],
.buttonset input[type="reset"] {
  border: 1px solid $color-darkgrey;
  border-radius: 5px;
  background: $color-white;
  margin-right: 10px;
  padding: 2px 6px 3px;
}

.buttonset button.primary,
.buttonset input[type="button"].primary,
.buttonset input[type="submit"].primary,
.buttonset input[type="reset"].primary {
  border-color: $color-mid;
}

.buttonset input[type="checkbox"],
.buttonset label {
  vertical-align: top;
  margin: 2px;
}

table.listTable th {
  padding: 2px 0;
}

table.listTable td {
  border-top: 1px solid #ddd;
  padding: 2px 0;
}

table.listTable input[type="checkbox"].toggle {
  margin-top: 2px;
}

table.listTable .selected {
  background: $color-superlight;
}

div.details {
  border: 1px solid $color-midgrey;
  background: $color-white;
  padding: 10px;
}

div.details h3 {
  color: $color-selected-grey;
  background: none;
  margin-bottom: 10px;
}

table.details {
}

table.details td, table.details th {
  padding: 5px;
}

table.details tr td {
  border-bottom: 1px solid #dddddd;
}

table.details tr:last-child td {
  border-bottom: none;
}

/* admin and edit styles */

ul.linkList {
  background: $color-white;
  border: 1px solid $color-midgrey;
}

ul.linkList li {
  padding: 5px;
  border-bottom: 1px solid $color-midgrey;
  cursor: pointer;
}

ul.linkList li:hover {
  background: $color-lightgrey;
}

div.contextSource,
div.selectable {
  cursor: pointer;
}

div.contextMenu {
  background: $color-white;
  border: 1px solid $color-midgrey;
  position: absolute;
  display: none;
  width: 200px;
  height: auto;
  z-index: 1500;
}

div.contextMenu div {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

div.contextMenu div:hover {
  background: $color-lightgrey;
}

h3.treeHeader {
  color: $color-text;
}

.treeRoot div.contextSource,
.treeRoot div.selectable {
  display: inline-block;
}

.treeRoot div.contextSource.selected,
.treeRoot div.selectable.selected {
  color: $color-selected;
}

.treeRoot div.contextMenu {
}

.dropTarget {
  background: $color-droparea;
}

.noDropTarget {
  background: $color-nodroparea;
}

/* cms part */

.adminTree {
  padding: 10px;
}

.siteTree {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.pageEditButtons {
  border-radius: 5px;
  box-shadow: 1px 1px 1px #00a inset, 1px 1px 1px #00a;
  padding: 7px 5px 5px 12px;
  font-size: 11px;
}

.pageEditButtons span {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.topNavSection ul li.admin .icn.ipencil.open::before {
  color: white;
}

.pageAdminLinks {
}

.pageAdminLinks a {
  color: $color-text;
}

.pageAdminLinks a:hover {
  color: $color-dark;
}

.editArea div.contextSource:hover {
  box-shadow: 1px 1px 1px $color-white inset, 1px 1px 1px $color-white;
}

.editArea div.contextSource.selected {
  box-shadow: 1px 1px 1px $color-white inset, 1px 1px 1px $color-white;
}

.editArea .editSection {
}

.editArea .editSectionHeader {
  border: 1px solid $color-darkgrey;
  border-radius: 10px;
  padding: 0 5px 1px 5px;
  background: $color-almostblack;
  color: $color-white;
}

.editArea .editSectionHeader.contextSource {
  min-height: 20px;
}

.editArea .editSectionHeader.contextSource:hover {
  background: $color-almostblack;
  color: $color-superlight;
}

.editArea .buttonset.editSection {
  padding: 1px 0 3px;
  display: block;
}

.editArea .buttonset.editSection > button {
  font-size: 9px;
}

.editArea div.viewPagePart {
  min-height: 10px;
}

.editArea div.viewPagePart:hover {
  box-shadow: 1px 1px 1px $color-superlight inset, 1px 1px 1px $color-superlight;
}

.editArea div.editPagePart {
  box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #fff;
}

.editArea .imageBox {

}

.editArea .textBox {

}

.editArea input.editField, .editArea textarea.editField,
.editArea .textBox input[type="text"], .editArea .textBox textarea {
  width: 100%;
}

.dropping {
  cursor: crosshair;
}

.selectorMain {
  display: table;
  width: 100%;

  & > div {
    display: table-cell;
    vertical-align: top;
    @include hpad($space_two);
    @include vpad($space_two);
  }

  .tree {
    width: 40%;
  }

  #browserView{
    width: 60%;
  }

}

