@import "vars.scss";
@import "compass/css3";

.main {
  background: white;
  bottom: $footer_hgt;
  position: absolute;
  top: $header_hgt;
  width: 100%;
  overflow-y: auto;
}

h1.block {
  margin: 0 0 $space_two 0;
}

h2.block {
  margin: 0 0 $space_two 0;
}

.pagePart{
  img {
    width: 100%;
  }
}

.textBox {
  padding-top: $space_one;
  padding-bottom: $space_one;
}

.imageBox {
  padding: 0;

  img {
    width: 100%;
  }
}

.teaser {
  padding: $space_two;
}

.teaser .teaserLeft {

}

.teaser .teaserRight {

}

.separator{
  height: 1px;
  margin: $space_two 0;
  border-bottom: 1px dotted #000;
}

/* areas */

.contentTop{
  padding: $space_two $hspace;

  h1 {
    margin: $space_two;
    text-align: center;
  }
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  min-height: 300px;
  margin-bottom: $space_two;

  .contentSection {
    flex: 3 1 900px;
    padding: $space_two $hspace_half;
  }

  .section{
    padding-left: $hspace_half;
    padding-right: $hspace_half;
  }

  .section.flexRow, .section .flexRow{
    padding-left: 0;
    padding-right: 0;
    margin-left: - $hspace_half;
    margin-right: - $hspace_half;

    .flexItem {
      padding-left: $hspace_half;
      padding-right: $hspace_half;
    }
  }

}

.asideSection {
  flex: 1 1 300px;
  padding: $space_two $hspace;

  .content{

  }

  .aside{
    border: 1px solid $color-lightgrey;
    margin-bottom: $space_four;
  }

  h3 {
    background: $color-lightgrey;
    padding: $space_one;
  }

  .imageBox {
    padding: 0;
  }

  .textBox {
    padding: $space_one;
  }

}



