@import "vars.scss";
@import "compass/css3";

.main {
  background: white;
  bottom: $footer_hgt;
  position: absolute;
  top: $header_hgt;
  width: 100%;
  overflow-y: auto;
}

h1.block {
  margin: 0 0 $space_two 0;
}

h2.block {
  margin: 0 0 $space_two 0;
}

.pagePart{
  img {
    width: 100%;
  }
}

.imageBox {
  padding: 0;

  img {
    width: 100%;
  }
}

.textBox {

}

.separator{
  height: 1px;
  margin: $space_two 0;
  border-bottom: 1px dotted #000;
}

/* areas */

.contentTop{
  padding: $space_two $hspace;

  h1 {
    margin: $space_two;
    text-align: center;
  }
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  min-height: 300px;
  margin-bottom: $space_two;

  .contentSection, .editSection {
    flex: 3 1 900px;
    padding: $space_two $hspace_half;

    & > .section.fullWidth{
      @include hpad($hspace_half);

      .flexRow{
        @include hpad(0);
        @include hmargin(-$hspace_half);
      }

      .flexItem{
        @include hpad($hspace_half);
        @include vpad($hspace_half);
      }

      .flexRow.two{
        .flexItem{
          flex: 1 1 450px;
        }
      }

      .flexRow.three{
        .flexItem.one{
          flex: 1 1 300px;
        }
        .flexItem.two{
          flex: 1 1 600px;
        }
      }
    }

    & > .section.flexRow{

      & > .pagePart {
        flex: 1 1 450px;
        @include hpad($hspace_half);
        @include vpad($hspace_half);
      }
    }

    .teaser.horz{

      display: table;
      width: 100%;

      & > div{
        display:table-cell;
        vertical-align: top;
        width: 50%;
      }
      & > div:first-child{
        padding-right: $hspace_half;
      }
      & > div:last-child{
        padding-left: $hspace_half;
      }
    }

    .teaser.vert{

      & > div:first-child{
        padding-bottom: $hspace_half;
      }
      & > div:last-child{
        padding-top: $hspace_half;
      }
    }
  }

  .halfSection{
    flex: 1 1 600px;
    padding: $space_two $hspace_half;
  }

}

.asideSection {
  flex: 1 1 300px;
  padding: $space_two $hspace;

  .content{

  }

  .aside{
    border: 1px solid $color-lightgrey;
    margin-bottom: $space_four;
  }

  h3 {
    background: $color-lightgrey;
    padding: $space_one;
  }

  .imageBox {
    padding: 0;
  }

  .textBox {
    padding: $space_one;
  }

}

.blogEntry {
  margin: 10px 0 10px 0;
  border: solid 1px #ddd;
}

.blogEntryTitle {
  background: #ddd;
  padding: 5px;
}

.blogEntryText {
  padding: 5px;
}

.blogEntryTitle input {
  width: 95%;
}

.blogEntryText textarea {
  width: 95%;
}

.teamcalendar {

  h3.calHeader{
    font-weight: bold;
    padding: 10px 0 10px 0;
  }

  table.calendar {
    width: 100%;
    border: 1px solid $color-darkgrey;

    tr:first-child th {
      width: 14%;
      vertical-align: top;
      background: $color-lightgrey;
      text-align: center;
    }

    td {
      height: 80px;
      border: 1px solid $color-darkgrey;

      div.day {
        text-align: center;
        font-weight: bold;
        background: $color-superlight;

        &.today{
          color: $color-selected;
        }
        &.other{
          color: $color-darkgrey;
        }
      }
    }
  }

}



