
$color-superlight: #c0efff;
$color-light: #00EAF7;
$color-midlight: #00D7F7;
$color-mid: #00BBEF;
$color-dark: #0F96E8;
$color-text: #404040;
$color-lightgrey: #eeeeee;
$color-midgrey: #cccccc;
$color-darkgrey: #aaaaaa;
$color-almostblack: #404040;
$color-highlight: #ffff00;
$color-error: #ff8888;
$color-message: #eeee00;
$color-white: #ffffff;
$color-black: #000000;