@import "vars.scss";

.carbon {
    background: $color-almostblack url(img-path('carbon.png'));
}

/********** body and main sections *************/
/*
    Structure:

    body
        viewport
            topNavSection
                nav
            headerSection
                headerMain
                    title
                    menu
                searchSection
                    breadcrumb
                    searchBox
            main
                pageContent
                    contentTop
                    mainSection
                        contentSection
                        asideSection
            footer
 */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: $size_txt;
    color: $color-text;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* viewport */
.viewport {
    position: relative;
    max-width: $vp_width;
    height: 100%;
    margin: 0 auto 0 auto;
    background: transparent;
}

/* topNavSection above mainArea */
.topNavSection {
    text-align: right;
}

.topNavSection ul {
    display: inline-block;
}

.topNavSection ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    margin: 3px;
    padding: 3px 5px 3px;
}

.topNavSection ul li a {
    color: $color-midlight;
}

.topNavSection ul li a:hover {
  color: white;
}

/*headerSection*/
.headerSection {
}

.headerMain {
    display: table;
    width: 100%;
    position: relative;
}

.headerMain .title {
    display: table-cell;
    vertical-align: top;
    margin-right: $space_two;
    width: 250px;
}

.headerMain .menu {
    display: table-cell;
    vertical-align: top;
    margin-left: 10px;
}

a.navBtn {
    display: none;
}

nav.mainNav {
    border-bottom: 1px solid $color-lightgrey;
    margin-top: 15px;
    padding-left: 10px;
}

nav.mainNav ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav.mainNav li {
    text-align: left;
    font-size: $size_nav;
    display: inline-block;
}

nav.mainNav li a {
    text-decoration: none;
    color: $color-lightgrey;
    display: block;
    white-space: nowrap;
    padding-left: $space_three;
    transition: .3s background-color;
}

nav.mainNav li a:hover{
    color: $color-superlight;
}

nav.mainNav li ul {
    position: absolute;
    display: none;
    width: inherit;
    min-width: 120px;
    background: $color-darkgrey url(img-path('carbon.png'));
    border-left: 1px solid $color-midgrey;
    border-right: 1px solid $color-midgrey;
    border-bottom: 1px solid $color-midgrey;
    z-index: 9999;
}

nav.mainNav li:hover ul {
    display: block;
}

nav.mainNav li li a:hover {
    background-color: rgba(255,255,255, 0.2);
}

nav.mainNav li a.active {
    color: $color-superlight;
    cursor: default;
}

/* Sub Menus */
nav.mainNav li li {
    display: block;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px dotted $color-midgrey;
}

nav.mainNav li li:last-child {
    border-bottom: none;
}

nav.mainNav > ul > li > a {
    padding: 0 $space_two;
}

nav.mainNav li li a:hover {
    background-color: rgba(255,255,255, 0.2);
}

nav.mainNav li li a {
    padding: 7px 14px 6px 14px;
}

nav.mainNav li ul li ul{
    border: none;
    position: relative;
}

nav.mainNav li li li{
    font-size: 12px;
    border-bottom: none;
}

nav.mainNav li li li a {
    padding: 7px 14px 6px 24px;
}

.searchSection {
    display: table;
    width: 100%;
}

.breadcrumb {
    display: table-cell;
    font-size: $size_smalltxt;
    padding: 0 $space_two;
}

.breadcrumb ul {
    display: inline-block;
    vertical-align: top;
}

.breadcrumb li {
    display: inline-block;
    vertical-align: top;
    padding: 0 2px;
}

.breadcrumb li a {
    color: $color-midlight;
}

.breadcrumb li a:hover, .breadcrumb li:last-child a {
    color: $color-light;
}

.breadcrumb li a:before {
    content: "\2192\00A0";
    font-size: $size_txt;
}

nav.subNav {
}

nav.subNav ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

nav.subNav li {
  text-align: left;
}

nav.subNav li a {
  text-decoration: none;
}

nav.subNav li ul li {
  padding-left: 10px;
}

.searchBox {
    display: table-cell;
    min-width: 200px;
    text-align: right;
}

.searchBox input[type="text"] {
    color: $color-text;
    border: none;
    margin-right: $space_one;
}

.searchBox button {
    border: none;
    background: transparent;
}

.searchBox button[type="submit"] span.icn::before {
    color: $color-mid;
}

/* footer section */

.footer {
    position: absolute;
    height: $footer_hgt;
    width: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
    color: $color-darkgrey;
    padding: $space_two 0;
}

.footer a, .footer a:active, .footer a:hover, .footer a:focus {
    color: $color-midgrey;
}

/* special pages */

section.searchResults {
    padding: 20px;
}

.searchResults h1 {
    margin-bottom: 20px;
}

.searchResults span.searchInfo{
    margin-left: $space_two;
}

.searchResults span.searchInfo a{
    cursor: pointer;
}

.searchResultsTable {
    width: 100%;
}

.searchResultsTable tr td {
    padding: 5px 3px 3px;
}

.searchResultsTable tr:first-child {
    border-bottom: 1px solid $color-darkgrey;
}

.searchResultsTable tr:first-child th {
    padding-bottom: $space_one;
}

.searchResultsTable .col1 {
    width: 10%;
}

.searchResultsTable .col2 {
    width: 20%;
}

.searchResultsTable .col3 {
    width: 20%;
}

.searchResultsTable .col4 {
    width: 40%;
}

.searchResultsTable .col5 {
    width: 10%;
}

.searchHighlight {
    background: $color-highlight;
;
}

.login form {
    max-width: 100%;
    width: 500px;
    margin: 20px auto;
}

.login fieldset {
    padding: 40px;
}


