@import "vars.scss";
@import "compass/css3";

/************ mobile part ***********/

@media screen and (max-width: $vp_width + (2 * $space_two)) {
  .viewport {
    margin-left: $space_two;
    margin-right: $space_two;
  }
}

body.mobile {
    height: auto;
    overflow: auto;
}

.mobile .viewport {
    height: auto;
    margin: 0 $space_two;
}

.mobile .topNavSection div:first-child {
    display: none;
}

.mobile .headerMain {
    display: block;
}

.mobile .title{
    display:block;
    width: 100%;
}

.mobile a.logo{
    display: inline-block;
}

.mobile a.navBtn {
    display: block;
    float: right;
    width: 33px;
    height: 24px;
    margin-top: 15px;
    background: image-url('navbtn.png') no-repeat;
    cursor: pointer;
}

.mobile .menu{
    display: block;
    margin: $space_two 0;
    border: 1px solid $color-darkgrey;
    background: rgba(255,255,255,0.1);
}

.mobile nav.mainNav {
    position: inherit;
    border: none;
    display: none;
}

.mobile nav.mainNav.open{
    display: block;
}

.mobile nav.mainNav ul li {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #c8c8c8;
}

.mobile nav.mainNav ul li:last-child{
    border-bottom:none;
}

.mobile nav.mainNav ul li ul {
    position: inherit;
    display: block;
    border: none;
    background: inherit;
}

.mobile nav.mainNav ul li ul li {
    padding-left: 20px;
}

nav.mainNav li li a:hover{
    background: inherit;
}

.mobile .breadcrumb {
    height: auto;
}

.mobile .searchSection{
    margin-bottom: $space_two;
}

.mobile .main {
    bottom: auto;
    position: inherit;
    width: auto;
    top: auto;
    overflow: inherit;
}

.mobile .footer {
    position: inherit;
    width: auto;
}


@media print{

    html {
        height: auto !important;
    }

    body {
        height: auto;
        overflow-y: auto !important;
    }

    .viewport {
        height: auto !important;
    }

    .navSection {
        display: none;
    }

    .breadcrumb{
        height: auto;
    }

    .topNavSection{
        display: none;
    }

    .main {
        bottom: auto;
        position: inherit;
        width: 100%;
        top: auto;
        overflow: inherit;
    }

    aside{
        display: none;
    }

    .footer{
        display: none;
    }

}
