@import "vars.scss";

/************ print part ***********/

@media print{

    html {
        height: auto !important;
    }

    body {
        height: auto;
        overflow-y: auto !important;
    }

    .viewport {
        height: auto !important;
    }

    .navSection {
        display: none;
    }

    .breadcrumb{
        height: auto;
    }

    .topNavSection{
        display: none;
    }

    .main {
        bottom: auto;
        position: inherit;
        width: 100%;
        top: auto;
        overflow: inherit;
    }

    aside{
        display: none;
    }

    .footer{
        display: none;
    }

}
