
$color-superlight: #f0f0f0;
$color-light: #e0e0e0;
$color-midlight: #d0d0d0;
$color-mid: #b0b0b0;
$color-dark: #808080;
$color-text: #404040;
$color-lightgrey: #eeeeee;
$color-midgrey: #cccccc;
$color-darkgrey: #aaaaaa;
$color-almostblack: #404040;
$color-highlight: #ffffaa;
$color-error: #ffaaaa;
$color-message: #ffffaa;
$color-white: #ffffff;
$color-black: #000000;
$color-lightborder: #d0d0d0;

$vp_width: 1280px;
$header_hgt: 110px;
$footer_hgt: 30px;

$space_one: 5px;
$space_two: $space_one * 2;
$space_three: $space_one * 3;
$space_four: $space_one *4;
$space_eight: $space_one *8;

$hspace: $space_two;
$hspace_half: $space_one;

$hpad_text: 3px;
$vpad_text: 1px;

$size_txt: 12px;
$size_smalltxt: 11px;
$size_nav: $size_txt * 1.33;
$size_h1: $size_txt * 2;
$size_h2: $size_txt * 1.8;
$size_h3: $size_txt * 1.5;
$size_h4: $size_txt * 1.2;

@mixin hpad($amount){
  padding-left: $amount;
  padding-right: $amount;
}

@mixin vpad($amount){
  padding-top: $amount;
  padding-bottom: $amount;
}

@mixin hmargin($amount){
  margin-left: $amount;
  margin-right: $amount;
}

@mixin vmargin($amount){
  margin-top: $amount;
  margin-bottom: $amount;
}