<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
            org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dynamics</servlet-name>
        <servlet-class>de.elbe5.cms.application.DynamicsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applicationServlet</servlet-name>
        <servlet-class>de.elbe5.cms.application.ApplicationServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamics</servlet-name>
        <url-pattern>/dynamic.css</url-pattern>
        <url-pattern>/dynamic.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/_statics/*</url-pattern>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applicationServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>*.srv</url-pattern>
        <url-pattern>*.ajx</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>de.elbe5.webbase.application.AppContextListener</listener-class>
    </listener>
</web-app>