/out
/.idea/dataSources
/.idea/dictionaries
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/workspace.xml
/.sass-cache
*.scssc
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
.idea/sshConfigs.xml
.idea/artifacts/bandika.xml
.idea/deployment.xml
.idea/webServers.xml
build
{buildLibs.dir}/activation-1.1.1.jar
