/.idea/dictionaries
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/out
/.idea/dataSources
/.sass-cache