@import "extras";

body.admin {
  height: 100%;

  header {
    img.admin-logo {
      height: 30px;
      margin-bottom: 10px;
    }
  }

  div.menu{
    section.menu {
      nav.navbar {
        .navbar-collapse{
          margin-top: 0;
        }
      }
    }
  }

}










