body {
  background: #27446a url("../img/pattern.svg");
  color: #343a40;
  height: 100%; }

a, a:active, a:hover, a:visited {
  color: #343a40; }

button:focus, a:focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none; }

header {
  background: transparent;
  color: #f8f9fa;
  padding: 0 1rem; }
  header section.sysnav {
    background: transparent; }
    header section.sysnav a {
      text-decoration: none;
      color: #f8f9fa; }
    header section.sysnav a.nav-link {
      padding: 0;
      margin: 0.25rem 0 0.25rem 0.5rem;
      font-size: 0.8rem;
      color: #f8f9fa; }
    header section.sysnav .dropdown-menu {
      padding: 0; }
      header section.sysnav .dropdown-menu .dropdown-item {
        color: #343a40;
        font-size: 0.8rem; }
  header img.navIcon {
    width: 30px;
    margin-bottom: 0.25em; }
  header div.menu {
    border-bottom: 1px solid #f8f9fa; }
    header div.menu section.menu nav.navbar {
      padding: 0; }
      header div.menu section.menu nav.navbar .navbar-toggler span {
        color: #f8f9fa; }
      header div.menu section.menu nav.navbar a.navbar-brand {
        color: #f8f9fa; }
        header div.menu section.menu nav.navbar a.navbar-brand img {
          height: 3rem; }
      header div.menu section.menu nav.navbar .navbar-collapse {
        margin-top: 44px; }
      header div.menu section.menu nav.navbar .nav-item a {
        color: #f8f9fa; }
      header div.menu section.menu nav.navbar .nav-link {
        padding: 0.25rem 1rem; }
      header div.menu section.menu nav.navbar .dropdown-toggle::after {
        vertical-align: 0.1em; }
      header div.menu section.menu nav.navbar .dropdown-menu {
        background: #27446a url("../img/pattern.svg");
        padding: 0.25rem 0;
        margin: 0;
        border-color: #f8f9fa;
        border-width: 0 1px 1px 1px;
        border-radius: 0; }
        header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item:focus, header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item:hover, header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item.active {
          background: rgba(255, 255, 255, 0.2); }
        header div.menu section.menu nav.navbar .dropdown-menu .dropdown-item.subitem {
          padding-left: 3rem;
          font-size: 0.9rem; }
        header div.menu section.menu nav.navbar .dropdown-menu .nav-item a {
          color: #f8f9fa; }
      header div.menu section.menu nav.navbar .nav-item.dropdown.hover:hover .dropdown-menu {
        display: block; }
  header div.bc .breadcrumb {
    background: transparent;
    color: #f8f9fa;
    margin: 0;
    font-size: 0.8rem;
    padding: 0.25rem 0; }
    header div.bc .breadcrumb .breadcrumb-item.active {
      color: #f8f9fa; }
    header div.bc .breadcrumb a {
      color: #f8f9fa;
      text-decoration: none; }

main {
  padding-bottom: 3rem; }
  main div#pageContent h1, main div#pageContent h2, main div#pageContent h3 {
    margin: 0; }
  main div#pageContent h1.title {
    margin-bottom: 1rem;
    text-align: center;
    color: #f8f9fa; }
  main div#pageContent .contentTop {
    color: #f8f9fa; }
  main div#pageContent .headerBox {
    padding: 0.5rem 1rem; }
  main div#pageContent .headerBox h1 {
    text-align: center; }
  main div#pageContent .htmlBox {
    background: white;
    padding: 1rem; }
  main div#pageContent .imageBox {
    background: white;
    padding: 0; }
    main div#pageContent .imageBox img {
      width: 100%; }
  main div#pageContent h3.partHeader {
    background: #343a40;
    padding: 0.5rem 1rem; }
  main div#pageContent .paragraph {
    background-color: rgba(255, 255, 255, 0.95);
    border: solid 1px #343a40;
    border-radius: 15px;
    padding: 1rem;
    height: calc(100% - 30px);
    margin-top: 15px;
    overflow: hidden; }
    main div#pageContent .paragraph h2 {
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem; }
    main div#pageContent .paragraph h3 {
      border-width: 1px 0;
      border-style: solid;
      padding: 0.5rem 0;
      margin: 0.5rem 0; }
    main div#pageContent .paragraph img {
      max-width: 100%; }
    main div#pageContent .paragraph img[style*="float: left;"], main div#pageContent .paragraph img[style*="float:left;"] {
      margin-right: 0.5em;
      margin-bottom: 0.5em; }
    main div#pageContent .paragraph img[style*="float: right;"], main div#pageContent .paragraph img[style*="float:right;"] {
      margin-left: 0.5em;
      margin-bottom: 0.5em; }
  main div#pageContent .asideSection .paragraph {
    background: rgba(255, 255, 255, 0.9);
    border-color: #343a40; }

.container.fixed-bottom {
  background: #27446a url("../img/pattern.svg");
  border-top: 1px solid #f8f9fa;
  height: 2.25rem; }

footer {
  color: #f8f9fa;
  font-size: 0.8rem;
  padding: 0; }
  footer a, footer a:active, footer a:hover, footer a:focus, footer a:visited {
    color: #f8f9fa; }

#searchboxform {
  padding: 1rem 0; }
  #searchboxform .form-control {
    height: auto;
    padding: 0 0.75rem; }

div.searchResults {
  padding-top: 1rem; }
  div.searchResults div.searchResult {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #343a40; }
    div.searchResults div.searchResult div.searchTitle {
      font-size: 1.2em; }
    div.searchResults div.searchResult div.searchDescription {
      padding-top: 0.5em;
      font-style: italic; }
    div.searchResults div.searchResult div.searchContent {
      padding-top: 0.5em; }

.searchHighlight {
  background: yellow; }

body.admin main {
  top: 6.5rem; }
body.admin div#pageContainer {
  background: white; }

/* admin */
body.admin div#pageContainer {
  margin-top: 1rem;
  background: white;
  min-height: 500px; }

/* login */
body.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  body.login #main .loginSection .form {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    margin: 20% auto;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #f8f9fa;
    border-radius: 5px; }
    body.login #main .loginSection .form img {
      height: 40px; }
    body.login #main .loginSection .form .form-control:focus {
      z-index: 2; }
    body.login #main .loginSection .form input[type="text"] {
      margin-bottom: 0.5rem; }
    body.login #main .loginSection .form input[type="password"] {
      margin-bottom: 2rem; }

a.link::before {
  content: "\203A";
  padding-right: 0.25em; }

a.mail::before {
  content: "\f003";
  font-family: FontAwesome;
  padding-right: 0.25em; }

/*# sourceMappingURL=layout.css.map */
