<!-- The contents of this file will be loaded for each web application -->
<Context>

  <!-- Default set of monitored resources -->
  <WatchedResource>WEB-INF/web.xml</WatchedResource>

  <Manager pathname=""/>

	<Resource
		name="config_..."
		type="de.bandika.base.BaseConfig"
		factory="org.apache.naming.factory.BeanFactory"
		dataSource="jdbc_bandika"
		path=".../webapps/ROOT"
	/>

  <Resource
      name="jdbc_bandika"
      type="javax.sql.DataSource"
      password="..."
      driverClassName="com.mysql.jdbc.Driver"
      maxIdle="2"
      maxWait="5000"
      validationQuery="select id from t_id"
      username="..."
      url="jdbc:mysql://localhost/..."
      maxActive="4"/>



</Context>