<!-- The contents of this file will be loaded for each web application -->
<Context>

  <!-- Default set of monitored resources -->
  <WatchedResource>WEB-INF/web.xml</WatchedResource>

  <Manager pathname=""/>

  <Resource
      name="jdbc_bandika"
      type="javax.sql.DataSource"
      password="xxx"
      driverClassName="com.mysql.jdbc.Driver"
      maxIdle="2"
      maxWait="5000"
      validationQuery="select id from t_id"
      username="xxx"
      url="jdbc:mysql://localhost/bandika"
      maxActive="4"/>

  <Resource
    	name="config_bandika"
    	type="de.net25.resources.statics.StaticResources"
    	factory="org.apache.naming.factory.BeanFactory"
    	dataSource="jdbc_bandika"
			languages="en,de"
			basePath="/opt/tomcat/webapps/bandika"
			imagePath="/opt/tomcat/files/bandika/img"
			documentPath="/opt/tomcat/files/bandika/doc"
			staticBase="/"
			dynamicBase="/bandika/"
			pageCacheSize="1000"
			docCacheSize="1000"
			imgCacheSize="1000"
			mailServer="mail.myhost.tld"
			mailSender="me@myhost.tld"
			mailAddress="me@myhost.tld"/>

</Context>