@import "app_variables";
@import "../../../cms/scss/bootstrap_ext/cms_variables";
@import "../../../cms/scss/bootstrap/variables";

body {
  background: $background-body;
  color: $dark;
  height: 100%;
}

a, a:active, a:hover, a:visited{
  color: $dark;
}

button:focus, a:focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

header{

  position: relative;
  background: transparent;
  color: $light;

  div.top{
    background: transparent;

    a {
      text-decoration: none;
      color: $light;
    }

    section.sysnav {
      a.nav-link {
        padding: 0;
        margin: 0.25rem 0 0.25rem 0.5rem;
        font-size: $font-size-xsm;
        color: $light;
      }

      a.nav-link.toggle {
        font-size: $font-size-xxsm;
        margin-top: 0.35rem;
      }

    }

  }

  div.menu{
    background: transparent;
    border-bottom: 1px solid $light;

    section.menu {

      nav.navbar {

        padding: .25rem 0;

        .navbar-toggler span{
          color: $light;
        }

        a.navbar-brand {
          img {
            height: 4rem;
          }
        }

        .nav-item {
          a {
            color: $light;
          }

        }

        .nav-link {
          padding: 0.25rem 1rem;
        }

        .dropdown-toggle::after {
          vertical-align: 0.1em;
        }

        .dropdown-menu {
          background: $background-body;
          padding: 0.25rem 0;
          margin: 0;
          border-color: $light;
          border-width: 0 1px 1px 1px;
          border-radius: 0;

          .dropdown-item:focus, .dropdown-item:hover{
            background: rgba(255,255,255,0.2);
          }

          .dropdown-item.subitem {
            padding-left: 3rem;
            font-size: $font-size-sm;
          }

          .nav-item {
            a {
              color: $light;
            }

          }

        }

      }

    }

  }

  section.bc {

    .breadcrumb {
      background: transparent;
      color: $light;
      margin: 0;
      font-size: $font-size-xsm;
      padding: 0.25rem 0;

      .breadcrumb-item.active {
        color: $light;
      }

      a {
        color: $light;
        text-decoration: none;
      }
    }
  }

}

div#pageContainer {
  position: relative;
  background: $main-background;
  color: $main-color;
  border-radius: 5px;
}

div#pageContent {
  padding: 1rem;

  h1, h2, h3{
    margin: 0;
  }

  .headerBox{
    padding: 0.5rem 1rem;
  }

  .headerBox h1{
    text-align: center;
  }

  .htmlBox{
    background: $white;
    padding: 1rem;
  }

  .imageBox{
    background: $white;
    padding: 0;

    img{
      width: 100%;
    }
  }

  h3.partHeader{
    background: $dark;
    padding: 0.5rem 1rem;
  }

  .paragraph{
    border: solid 1px $dark;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    height: calc(100% - 2rem);
    overflow: hidden;

    h2{
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }

    h3{
      border-width: 1px 0;
      border-style: solid;
      padding: 0.5rem 0;
      margin: 0.5rem 0;
    }
  }

  .contentSection, .asideSection{
    padding: 0 1rem;
  }

  .asideSection{
    .paragraph{
      background: $light;
      border-color: $dark;
    }
  }

}

footer {
  background: transparent;
  color: $light;
  font-size: 0.8rem;
  padding: 0;

  a, a:active, a:hover, a:focus, a:visited {
    color: $light;
  }
}

#searchboxform{
  padding: 1rem 0;

  .form-control{
    height: auto;
    padding: 0 0.75rem;
  }

}

div.searchResults{
  padding-top: 1rem;

  div.searchResult{

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid $gray-800;

    div.searchTitle{
      font-size: 1.2em;
    }
    div.searchDescription{
      padding-top:0.5em;
      font-style: italic;
    }
    div.searchContent{
      padding-top: 0.5em;
    }
  }
}

.searchHighlight{
  background: $yellow;
}

/* login */

body.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #main{
    top:0;

    .loginSection {

      .form {
        width: 100%;
        max-width: 360px;
        padding: 30px;
        margin: 20% auto;
        background: $light;
        border: 1px solid $gray-100;
        border-radius: 5px;
        img {
          height: 50px;
        }

        .form-control:focus {
          z-index: 2;
        }

        input[type="text"] {
          margin-bottom: 0.5rem;
        }

        input[type="password"] {
          margin-bottom: 2rem;
        }
      }
    }

  }
}

@include media-breakpoint-up(lg) {

  header{
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8.5rem;

    .navbar-collapse{
      position: relative;
      top: 1rem;
    }
  }

  main {
    position: fixed;
    top: 8.5rem;
    bottom: 2rem;
    left: 0;
    right: 0;
    background: transparent;
  }

  div#pageContainer {
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  footer {
    position: fixed;
    z-index: $zindex-fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;

    .container{
      height:100%;
    }
  }

}


