<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <servlet>
    <servlet-name>applicationservlet</servlet-name>
    <servlet-class>de.bandika.application.ApplicationServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>fileservlet</servlet-name>
    <servlet-class>de.bandika.file.FileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clusterservlet</servlet-name>
    <servlet-class>de.bandika.cluster.ClusterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>htmlpageservlet</servlet-name>
    <servlet-class>de.bandika.page.HtmlPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>linkservlet</servlet-name>
    <servlet-class>de.bandika.link.LinkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>moduleservlet</servlet-name>
    <servlet-class>de.bandika.module.ModuleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>menuservlet</servlet-name>
    <servlet-class>de.bandika.menu.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pageservlet</servlet-name>
    <servlet-class>de.bandika.page.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>templateservlet</servlet-name>
    <servlet-class>de.bandika.template.TemplateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>timerservlet</servlet-name>
    <servlet-class>de.bandika.timer.TimerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>de.bandika.user.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>applicationservlet</servlet-name>
    <url-pattern>/_application</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileservlet</servlet-name>
    <url-pattern>/_file</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clusterservlet</servlet-name>
    <url-pattern>/_cluster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>htmlpageservlet</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>linkservlet</servlet-name>
    <url-pattern>/_link</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>moduleservlet</servlet-name>
    <url-pattern>/_module</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menuservlet</servlet-name>
    <url-pattern>/_menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pageservlet</servlet-name>
    <url-pattern>/_page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>templateservlet</servlet-name>
    <url-pattern>/_template</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>timerservlet</servlet-name>
    <url-pattern>/_timer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/_user</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <listener>
    <listener-class>de.bandika.application.ApplicationContextListener</listener-class>
  </listener>

</web-app>
