/* tree view */

.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.treeview ul {
    margin-top: 4px;
}

.treeview .hitarea {
    background: url(img/treeview-default.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -19px;
    float: left;
    cursor: pointer;
}

.treeview li {
    margin: 0;
    padding: 3px 3px 3px 19px;
    line-height: 12px;
    background: url(img/treeview-default-line.gif) 0 0 no-repeat;
}

.treeview li.collapsable, .treeview li.expandable {
    background-position: 0 -176px;
}

.treeview .expandable-hitarea {
    background-position: -80px -3px;
}

.treeview li.last {
    background-position: 0 -1766px
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
    background-image: url(img/treeview-default.gif);
}

.treeview li.lastCollapsable {
    background-position: 0 -111px
}

.treeview li.lastExpandable {
    background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: 0;
}

/* general webserver */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #442E2E;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.carbon {
    background: #333 url(img/carbon.png);
}

.carbon-light {
    background: #333 url(img/carbon_light.png);
}

.viewport {
    position: relative;
    max-width: 1280px;
    min-width: 480px;
    height: 100%;
    margin: 0 auto 0 auto;
    background: transparent;
}

.header {
    background: transparent;
}

/* links above mainArea */
.topNavSection {
    display: table;
    width: 100%;
    height: 25px;
}

.topNavSection div.left {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
}

.topNavSection div.right {
    display: table-cell;
    text-align: right;
}

.topNavSection ul {
    display: inline-block;
}

.topNavSection ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    margin: 3px;
    padding: 3px 5px 3px;
}

.topNavSection ul li.admin {
    font-size: 13px;
    padding: 1px 0 3px 5px;
}

.topNavSection ul li a {
    color: #8bbdd7;
}

.topNavSection ul li.admin .icn::before {
    color: #b0b0b0;
}

.headerSection {
}

.headerMain {
    display: table;
    width: 100%;
    position: relative;
    padding: 10px 10px 0 10px;
}

.headerMain .title {
    display: table-cell;
    vertical-align: top;
    margin-right: 10px;
    width: 250px;
}

.headerMain .menu {
    display: table-cell;
    vertical-align: top;
    margin-left: 10px;
}

/* main navigation and breadcrumb*/

nav {
}

/* main navigation */

a.navBtn {
    display: none;
}

.breadcrumb {
}

/* main section */

.main {
    background: rgba(255, 255, 255, 0.95);
    bottom: 30px;
    position: absolute;
    top: 120px;
    width: 100%;
    overflow-y: auto;
}

.footer {
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #aaaaaa;
    padding: 5px 0;
}

.footer a, .footer a:active, .footer a:hover, .footer a:focus {
    color: #c8c8c8;
}

/* forms and tables */

form {
    width: 100%;
}

fieldset {
    padding: 5px 5px 15px 5px;
    border: 1px solid #ccc;
}

fieldset legend {
    border-color: #ccc;
    color: #aaa;
    padding: 0 5px;
    position: relative;
    top: -0.2em;
}

table.padded td, table.padded th {
    padding: 5px;
}

table.form td:first-child {
    width: 25%;
}

table.form td:last-child {
    width: 75%;
}

table.form input,
table.form textarea,
table.form select {
    width: 100%;
}

table.form input[type="checkbox"],
table.form input[type="radio"] {
    width: auto;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

#code {
    overflow: scroll;
}

table.status td:first-child {
    width: 75%;
}

table.status td:last-child {
    width: 25%;
}

fieldset div.line {
    padding: 5px;
}

fieldset div.line label {
    display: inline-block;
    width: 25%;
}

fieldset div.line.status label {
    width: 75%;
}

fieldset div.line input,
fieldset div.line textarea,
fieldset div.line select,
fieldset div.line span {
    display: inline-block;
    width: calc(75% - 10px);
}

fieldset div.line input[type="checkbox"],
fieldset div.line input[type="radio"] {
    width: auto;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/* buttons */

.buttonset {
    display: inline-block;
    padding: 5px 0;
}

.buttonset button,
.buttonset input[type="button"],
.buttonset input[type="submit"],
.buttonset input[type="reset"] {
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
    padding: 2px 6px 3px;
}

.buttonset button.primary,
.buttonset input[type="button"].primary,
.buttonset input[type="submit"].primary,
.buttonset input[type="reset"].primary {
    border-color: #8bbdd7;
}

.buttonset input[type="checkbox"],
.buttonset label {
    vertical-align: top;
    margin: 2px;
}

table.listTable th {
    padding: 2px 0;
}

table.listTable td {
    border-top: 1px solid #ddd;
    padding: 2px 0;
}

table.listTable input[type="checkbox"].toggle {
    margin-top: 2px;
}

table.listTable .selected {
    background: #d8e8ff;
}

#details {
    border-left: 1px solid #c0c0c0;
    min-height: 100px;
    padding: 10px;
}

#details h3 {
    color: #327598;
    margin-bottom: 10px;
}

table.details {

}

table.details.lined td {
    border-bottom: 1px solid #dddddd;
}

table.versions {
}

table.versions td:last-child button,
table.versions td:last-child a {
    display: inline-block;
    border: 1px solid #8bbdd7;
    border-radius: 5px;
    background: #eee;
    margin-right: 10px;
    padding: 2px 6px 3px;
}

/* general purpose layer */

.layeroverlay {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.layeroverlay.dialog {
    background: rgba(0, 0, 0, 0.1);
}

.layeroverlay.tree {
    background: rgba(255, 255, 255, 0.2);
}

.layeroverlay.browser {
    background: rgba(255, 255, 255, 0.3);
}

.layeroverlay[data-hidden="true"] {
    opacity: 0;
    z-index: -1;
}

.layeroverlay[data-hidden="false"] {
    opacity: 1;
}

.layeroverlay.tree[data-hidden="false"] {
    z-index: 900;
}

.layeroverlay.dialog[data-hidden="false"] {
    z-index: 1000;
}

/* ck editor dialog is up to 10010 */
.layeroverlay.browser[data-hidden="false"] {
    z-index: 10020;
}

.layeroverlay.browser.dialog[data-hidden="false"] {
    z-index: 10030;
}

.layercontent {
    overflow: hidden;
    position: relative;
    margin: auto;
    background: #fff;
    border: 1px solid #aaa;
}

.layeroverlay.dialog .layercontent {
    max-width: 800px;
    width: 100%;
}

.layeroverlay.tree .layercontent {
    margin: 10px;
    min-width: 600px;
    width: 50%;
    height: calc(100% - 20px);
}

.layeroverlay.tree .treeContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layeroverlay.tree .treeMainCell {
    float: left;
    width: calc(100% - 5px);
    height: 100%;
}

.layeroverlay.tree .treeResizeCell {
    float: right;
    width: 5px;
    height: 100%;
    background: #e8e8e8;
    cursor: ew-resize;
}

.layeroverlay.tree .contentSection {
    width: 60%;
}

.layeroverlay.tree .asideSection {
    width: 40%;
}

.layeroverlay.browser .layercontent {
    max-width: 800px;
    width: 100%;
    height: 600px;
}

.layerheadbox {
    color: #333;
    background: #d8e8ff;
    height: 35px;
    padding: 8px;
    border-bottom: 1px solid #ddd;

}

.layerheadbox span {
    font-size: 14px;
}

.layerheadbox div.closeLayer {
    font-weight: bold;
    width: 15px;
    float: right;
    cursor: pointer;
}

.layermainbox {
    min-height: 100px;
    padding: 8px;
    height: calc(100% - 35px);
    overflow-y: auto;
}

.layeroverlay.tree .treeContainer .layermainbox {
    height: 100%;
}

.layermainbox fieldset {
    margin: 5px;
    max-height: 500px;
    overflow-y: auto;
}

/* error and message box */

div.error {
    background: lightcoral;
}

div.message {
    background: palegoldenrod;
}

div.error, div.message {
    padding: 3px 10px 4px;
    margin-bottom: 10px;
}

div.message button, div.error button {
    font-weight: bold;
    background: inherit;
    border: none;
    width: 15px;
    float: right;
    cursor: pointer;
}

/* admin and edit styles */

ul.linkList {
    background: white;
    border: 1px solid #ccc;
}

ul.linkList li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

ul.linkList li:hover {
    background: #eee;
}

div.contextSource,
div.selectable {
    cursor: pointer;
}

div.contextMenu {
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    width: 200px;
    height: auto;
    z-index: 1500;
}

div.contextMenu div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

div.contextMenu div:hover {
    background: #eee;
}

h3.treeHeader {
    color: #327598;
}

.treeRoot div.contextSource,
.treeRoot div.selectable {
    display: inline-block;
}

.treeRoot div.contextSource.selected,
.treeRoot div.selectable.selected {
    color: #00a;
}

.treeRoot div.contextMenu {
}

.dropTarget {
    background: lightgreen;
}

/* cms part */

.adminTree {
    padding: 10px;
}

.siteTree {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.pageEditButtons {
    border-radius: 5px;
    box-shadow: 1px 1px 1px #00a inset, 1px 1px 1px #00a;
    padding: 7px 5px 5px 12px;
    font-size: 11px;
}

.pageEditButtons span {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}

.topNavSection ul li.admin .icn.ipencil::before{
    color:lightcoral;
}

.topNavSection ul li.admin .icn.ipencil.active::before{
    color:lightgreen;
}

.pageAdminLinks {
}

.pageAdminLinks a {
    color: #333;
}

.pageAdminLinks a:hover {
    color: #338;
}

.editArea div.contextSource:hover {
    box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #fff;
}

.editArea div.contextSource.selected {
    box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #fff;
}

.editArea .editSection {
}

.editArea .editSectionHeader {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 0 5px 1px 5px;
    background: #333;
    color: #fff;
}

.editArea .editSectionHeader.contextSource {
    min-height: 20px;
}

.editArea .editSectionHeader.contextSource:hover {
    background: #333;
    color: #c8d8ff;
}

.editArea .buttonset.editSection {
    padding: 1px 0 3px;
    display: block;
}

.editArea .buttonset.editSection > button {
    font-size: 9px;
}

.editArea div.viewPagePart {
    min-height: 10px;
}

.editArea div.viewPagePart:hover {
    box-shadow: 1px 1px 1px #c8d8ff inset, 1px 1px 1px #c8d8ff;
}

.editArea div.editPagePart {
    box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #fff;
}

.editArea .imageBox {

}

.editArea .textBox {

}

.editArea input.editField, .editArea textarea.editField,
.editArea .textBox input[type="text"], .editArea .textBox textarea {
    width: 100%;
}

.dropping {
    cursor: crosshair;
}

