
.bandika-superlight {
    color: #c0efff
}

.bandika-light {
    color: #00EAF7
}

.bandika-mid-light {
    color: #00D7F7
}

.bandika-mid {
    color: #00BBEF
}

.bandika-dark {
    color: #0F96E8
}

nav.mainNav {
    border-bottom: 1px solid #e7e7e7;
    margin-top: 10px;
}

/* main navigation */

nav.mainNav ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav.mainNav li {
    text-align: left;
    font-size: 16px;
    display: inline-block;
}

nav.mainNav li a {
    text-decoration: none;
    color: #e7e7e7;
    display: block;
    white-space: nowrap;
    padding-left: 15px;
    transition: .3s background-color;
}

nav.mainNav li a:hover{
    color: #c0efff;
}

nav.mainNav li ul {
    position: absolute;
    display: none;
    width: inherit;
    background: #333 url(img/carbon.png);
    border: 1px solid #c8c8c8;
    z-index: 9999;
}

nav.mainNav li:hover ul {
    display: block;
}

nav.mainNav li li a:hover {
    background-color: rgba(255,255,255, 0.2);
}

nav.mainNav li a.active {
    color: #c0efff;
    cursor: default;
}

/* Sub Menus */
nav.mainNav li li {
    display: block;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px dotted #c8c8c8;
}

nav.mainNav li li:last-child {
    border-bottom: none;
}

nav.mainNav > ul > li > a {
    padding: 0 10px;
}

nav.mainNav li li a:hover {
    background-color: rgba(255,255,255, 0.2);
}

nav.mainNav li li a {
    padding: 7px 14px 6px 14px;
}

nav.mainNav li ul li ul{
    border: none;
    position: relative;
}

nav.mainNav li li li{
    font-size: 12px;
    border-bottom: none;
}

nav.mainNav li li li a {
    padding: 7px 14px 6px 24px;
}

.searchSection {
    display: table;
    width: 100%;
}

.breadcrumb {
    display: table-cell;
    font-size: 11px;
    padding: 0 10px;
    height: 21px;
}

.breadcrumb ul {
    display: inline-block;
    vertical-align: top;
}

.breadcrumb li {
    display: inline-block;
    vertical-align: top;
    padding: 0 2px;
}

.breadcrumb li a {
    color: #eeeeee;
}

.breadcrumb li:last-child a {
    color: #8bbdd7;
}

.breadcrumb li a:before {
    content: "\2192\00A0";
    font-size: 14px;
}

.searchBox {
    display: table-cell;
    min-width: 200px;
    text-align: right;
}

.searchBox input[type="text"] {
    color: #327598;
    border: none;
    margin-right: 5px;
}

.searchBox button[type="submit"] {
    border: none;
    background: transparent;
}

.searchBox button[type="submit"] span.icn::before {
    color: #8bbdd7;
}

section.searchResults {
    padding: 20px;
}

.searchResults h1 {
    margin-bottom: 20px;
}

.searchResults span.searchInfo{
    margin-left:10px;
}

.searchResults span.searchInfo a{
    cursor: pointer;
}

.searchResultsTable {
    width: 100%;
}

.searchResultsTable tr td {
    padding: 5px 3px 3px;
}

.searchResultsTable tr:first-child {
    border-bottom: 1px solid #888;
}

.searchResultsTable tr:first-child th {
    padding-bottom: 5px;
}

.searchResultsTable .col1 {
    width: 10%;
}

.searchResultsTable .col2 {
    width: 20%;
}

.searchResultsTable .col3 {
    width: 20%;
}

.searchResultsTable .col4 {
    width: 40%;
}

.searchResultsTable .col5 {
    width: 10%;
}

.searchHighlight {
    background: yellow;
}

/* app layout */

.mainSection {
    min-height: 300px;
}

h1 {
    margin: 0 0 10px 0;
}

h1.topCenter {
    margin: 10px;
    text-align: center;
}

.contentSection {
    min-width: 300px;
    padding: 10px;
}

.asideSection {
    padding: 10px;
}

.asideSection.content {
}

/* special pages */

.stageSection {
    margin: 4px 0;
    padding: 4px;
    height: 200px;
}

.stageSection div.stagenote {
    z-index: 200;
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    padding: 10px;
    position: relative;
    left: 10px;
    top: 10px;
}

.stageSection div.stageimage {
    height: 200px;
    position: relative;
    top: -40px;
}

.stageSection div.stageimage img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.mainSection.login form {
    max-width: 100%;
    width: 500px;
    margin: 20px auto;
}

.mainSection.login fieldset {
    padding: 40px;
}

.pagePart {

}

.pagePart img {
    width: 100%;
}

.pagePart .textBox {
    padding: 0;
}

.pagePart .imageBox {
    padding: 0;
}

.pagePart .imageBox img {
    width: 100%;
}

/* template styles */

.banner {
    padding: 0;
}

.banner .imageBox {
    padding: 0;
}

.banner .textBox {
    padding: 0 10px;
}

.banner .textBox h3 {
    padding: 10px 0;
}

.teaser {
    padding: 10px;
}

.teaser .teaserLeft {

}

.teaser .teaserRight {

}

.flexRow.twoCol .pagePart {
    flex: 1 1;
    min-width: 50%;
}

.flexRow.threeCol .pagePart {
    flex: 1 1;
    min-width: 33%;
}

.flexRow.fourCol .pagePart {
    flex: 1 1;
    min-width: 25%;
}

.aside {
    border: 1px solid #c8c8c8;
    margin-bottom: 10px;
}

.aside h3 {
    background: #d8d8d8;
    padding: 5px;
}

.aside .imageBox {
    padding: 0;
}

.aside .textBox {
    padding: 5px;
}

.article {
    padding: 0;
}

.article h1 {
    padding: 0;
}

.article h2 {
    padding: 0;
}

.article .summary {
    padding: 0;
}

.article .textBox {
    padding: 0;
}

.article .textBox a {
    padding: 0;
}

/************ mobile part ***********/

body.mobile {
    height: auto;
    overflow: auto;
}

.mobile .viewport {
    height: auto;
    margin: 0 10px;
}

.mobile .topNavSection div:first-child {
    display: none;
}

.mobile .headerMain {
    display: block;
}

.mobile .title{
    display:block;
    width: 100%;
}

.mobile a.logo{
    display: inline-block;
}

.mobile a.navBtn {
    display: block;
    float: right;
    width: 33px;
    height: 24px;
    margin-top: 15px;
    background: url('img/navbtn.png') no-repeat;
    cursor: pointer;
}

.mobile .menu{
    display: block;
    margin: 10px 0 10px 0;
    border: 1px solid #888;
    background: rgba(255,255,255,0.1);
}

.mobile nav.mainNav {
    position: inherit;
    border: none;
    display: none;
}

.mobile nav.mainNav.open{
    display: block;
}

.mobile nav.mainNav ul li {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #c8c8c8;
}

.mobile nav.mainNav ul li:last-child{
    border-bottom:none;
}

.mobile nav.mainNav ul li ul {
    position: inherit;
    display: block;
    border: none;
    background: inherit;
}

.mobile nav.mainNav ul li ul li {
    padding-left: 20px;
}

nav.mainNav li li a:hover{
    background: inherit;
}

.mobile .breadcrumb {
    height: auto;
}

.mobile .searchSection{
    margin-bottom: 10px;
}

.mobile .main {
    bottom: auto;
    position: inherit;
    width: auto;
    top: auto;
    overflow: inherit;
}

.mobile .footer {
    position: inherit;
    width: auto;
}


@media print{

    html {
        height: auto !important;
    }

    body {
        height: auto;
        overflow-y: auto !important;
    }

    .viewport {
        height: auto !important;
    }

    .navSection {
        display: none;
    }

    .breadcrumb{
        height: auto;
    }

    .topNavSection{
        display: none;
    }

    .main {
        bottom: auto;
        position: inherit;
        width: 100%;
        top: auto;
        overflow: inherit;
    }

    aside{
        display: none;
    }

    .footer{
        display: none;
    }

}
