
body.mobile {
    height: auto;
    overflow: auto;
}

.mobile .viewport {
    height: auto;
}

.mobile .topNavSection div:first-child{
    display: none;
}

.mobile .logoSection{
    position: inherit;
}

.mobile .logoSection .title{
    display: inline-block;
    padding-top: 8px;
    top: auto;
}

.mobile div.navBtn{
    display: block;
}

.mobile nav.mainNav{
    position: inherit;
    border: none;
    display: none;
}

.mobile nav.mainNav ul li{
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px dotted #c8c8c8;
}

.mobile nav.mainNav ul li ul{
    position: inherit;
    display: block;
    border: none;
}

.mobile nav.mainNav ul li ul li{
    padding-left: 20px;
}

.mobile .breadcrumb{
    height: auto;
}

.mobile .main {
    bottom: auto;
    position: inherit;
    width: auto;
    top: auto;
    overflow: inherit;
}

.mobile .footer{
    position: inherit;
    width: auto;
}

