/* tag standards */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; font-size: 13px; height: 100%; }

h1 { font-size: 2em; font-weight: normal; }

h2 { font-size: 1.5em; font-weight: normal; }

h3 { font-size: 1.2em; font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

a { background: transparent; color: #000000; text-decoration: none; }

a:active, a:hover { outline: 0; }

a:hover, a:focus { color: #000000; }

img { border: 0; }

pre, svg:not(:root) { overflow: hidden; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { margin: 0; font: inherit; color: inherit; padding: 0 3px 1px; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

legend { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

td, th { padding: 0; text-align: left; vertical-align: top; }

li { list-style-position: inside; }

nav li { list-style: none; }

/* icons */
@font-face { font-family: "LigatureSymbols"; src: url('/_statics/fonts/LigatureSymbols-2.11.eot?1490902855'); src: url('/_statics/fonts/LigatureSymbols-2.11.eot?&1490902855#iefix') format('embedded-opentype'), url('/_statics/fonts/LigatureSymbols-2.11.eot?1490902855') format('embedded-opentype'), url('/_statics/fonts/LigatureSymbols-2.11.woff?1490902855') format('woff'), url('/_statics/fonts/LigatureSymbols-2.11.ttf?1490902855') format('truetype'), url('/_statics/fonts/LigatureSymbols-2.11.svg?1490902855') format('svg'); font-weight: normal; font-style: normal; }
.icn:before { font-family: 'LigatureSymbols', fantasy; -webkit-text-rendering: optimizeLegibility; -moz-text-rendering: optimizeLegibility; -ms-text-rendering: optimizeLegibility; -o-text-rendering: optimizeLegibility; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; margin-right: 0.3em; font-size: 130%; color: #aaaaaa; }

.icn.disabled:before { color: #cccccc; }

.icn.iaction:before { content: '\E117'; }

.icn.iadd:before { content: '\E108'; }

.icn.iassets:before { content: '\E129'; }

.icn.iattach:before { content: '\E030'; }

.icn.iaudio:before { content: '\E094'; }

.icn.icache:before { content: '\E023'; }

.icn.icalendar:before { content: '\E15e'; }

.icn.icancel:before { content: '\E012'; }

.icn.iclear:before { content: '\E148'; }

.icn.icode:before { content: '\E032'; }

.icn.icopy:before { content: '\E038'; }

.icn.icut:before { content: '\E03b'; }

.icn.idelete:before { content: '\E12c'; }

.icn.idown:before { content: '\E03e'; }

.icn.idownload:before { content: '\E115'; }

.icn.iedit:before { content: '\E041'; }

.icn.ifile:before { content: '\E048'; }

.icn.ifiles:before { content: '\E04c'; }

.icn.ifolder:before { content: '\E04c'; }

.icn.igroup:before { content: '\E051'; }

.icn.ihelp:before { content: '\E070'; }

.icn.ihistory:before { content: '\E028'; }

.icn.ihome:before { content: '\E072'; }

.icn.iimage:before { content: '\E074'; }

.icn.iimport:before { content: '\E087'; }

.icn.iinfo:before { content: '\E075'; }

.icn.iinherit:before { content: '\E07c'; }

.icn.ileft:before { content: '\E080'; }

.icn.ilogin:before { content: '\E087'; }

.icn.ilogout:before { content: '\E088'; }

.icn.imail:before { content: '\E08a'; }

.icn.inew:before { content: '\E147'; }

.icn.iok:before { content: '\E029'; }

.icn.ipage:before { content: '\E08d'; }

.icn.ipages:before { content: '\E04c'; }

.icn.ipart:before { content: '\E12a'; }

.icn.ipassword:before { content: '\E07c'; }

.icn.ipaste:before { content: '\E095'; }

.icn.ipencil:before { content: '\E09f'; }

.icn.iprint:before { content: '\E10a'; }

.icn.iprofile:before { content: '\E09c'; }

.icn.ipublish:before { content: '\E046'; }

.icn.irefresh:before { content: '\E10e'; }

.icn.ireplace:before { content: '\E110'; }

.icn.iremove:before { content: '\E08f'; }

.icn.ilock:before { content: '\E086'; }

.icn.iright:before { content: '\E112'; }

.icn.isearch:before { content: '\E116'; }

.icn.isetting:before { content: '\E055'; }

.icn.ishare:before { content: '\E11f'; }

.icn.isite:before { content: '\E16d'; }

.icn.isort:before { content: '\E120'; }

.icn.isync:before { content: '\E125'; }

.icn.itemplate:before { content: '\E095'; }

.icn.itimer:before { content: '\E12b'; }

.icn.iup:before { content: '\E135'; }

.icn.iuser:before { content: '\E137'; }

.icn.ivideo:before { content: '\E139'; }

.icn.iweb:before { content: '\E13f'; }

/* tree view */
.treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }

.treeview ul { margin-top: 4px; }

.treeview .hitarea { background: url('/_statics/img/treeview-default.gif?1496079847') -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -19px; float: left; cursor: pointer; }

.treeview li { margin: 0; padding: 3px 3px 3px 19px; line-height: 12px; background: url('/_statics/img/treeview-default-line.gif?1496079847') no-repeat; }

.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px; }

.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url('/_statics/img/treeview-default.gif?1496079847'); }

.treeview li.lastCollapsable { background-position: 0 -111px; }

.treeview li.lastExpandable { background-position: -32px -67px; }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

/* forms and tables */
form { width: 100%; }

fieldset { padding: 5px 5px 15px 5px; border: 1px solid #cccccc; }

fieldset legend { border-color: #cccccc; color: #aaaaaa; padding: 0 5px; position: relative; top: -0.2em; }

table.padded td, table.padded th { padding: 5px; }

table.form td:first-child { width: 25%; }

table.form td:last-child { width: 75%; }

table.form input, table.form textarea, table.form select { width: 100%; }

table.form input[type="checkbox"], table.form input[type="radio"] { width: auto; margin-right: 10px; position: relative; top: 2px; }

#code { overflow: scroll; }

table.status td:first-child { width: 75%; }

table.status td:last-child { width: 25%; }

fieldset div.line { padding: 5px; }

fieldset div.line label { display: inline-block; width: 25%; }

fieldset div.line.status label { width: 75%; }

fieldset div.line input, fieldset div.line textarea, fieldset div.line select, fieldset div.line span { display: inline-block; width: calc(75% - 10px); }

fieldset div.line input[type="checkbox"], fieldset div.line input[type="radio"] { width: auto; margin-right: 10px; position: relative; top: 2px; }

/* buttons */
.buttonset { display: inline-block; padding: 5px 0; }

.buttonset button, .buttonset input[type="button"], .buttonset input[type="submit"], .buttonset input[type="reset"] { border: 1px solid #aaaaaa; border-radius: 5px; background: #ffffff; margin-right: 10px; padding: 2px 6px 3px; }

.buttonset button.primary, .buttonset input[type="button"].primary, .buttonset input[type="submit"].primary, .buttonset input[type="reset"].primary { border-color: #00BBEF; }

.buttonset input[type="checkbox"], .buttonset label { vertical-align: top; margin: 2px; }

table.listTable th { padding: 2px 0; }

table.listTable td { border-top: 1px solid #ddd; padding: 2px 0; }

table.listTable input[type="checkbox"].toggle { margin-top: 2px; }

table.listTable .selected { background: #c0efff; }

div.details { border: 1px solid #cccccc; background: #ffffff; padding: 10px; }

div.details h3 { color: #0F96E8; margin-bottom: 10px; }

table.details td, table.details th { padding: 5px; }

table.details tr td { border-bottom: 1px solid #dddddd; }

table.details tr:last-child td { border-bottom: none; }

table.versions td:last-child button, table.versions td:last-child a { display: inline-block; border: 1px solid #0F96E8; border-radius: 5px; background: #eeeeee; margin-right: 10px; padding: 2px 6px 3px; }

/* general purpose layer */
.layeroverlay { display: flex; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; overflow: hidden; }

.layeroverlay.dialog { background: rgba(0, 0, 0, 0.1); }

.layeroverlay.tree { background: rgba(255, 255, 255, 0.2); }

.layeroverlay.browser { background: rgba(255, 255, 255, 0.3); }

.layeroverlay[data-hidden="true"] { opacity: 0; z-index: -1; }

.layeroverlay[data-hidden="false"] { opacity: 1; }

.layeroverlay.tree[data-hidden="false"] { z-index: 900; }

.layeroverlay.dialog[data-hidden="false"] { z-index: 1000; }

/* ck editor dialog is up to 10010 */
.layeroverlay.browser[data-hidden="false"] { z-index: 10020; }

.layeroverlay.browser.dialog[data-hidden="false"] { z-index: 10030; }

.layercontent { overflow: hidden; position: relative; margin: auto; background: #ffffff; border: 1px solid #aaaaaa; }

.layeroverlay.dialog .layercontent { max-width: 800px; width: 100%; }

.layeroverlay.tree .layercontent { margin: 10px; min-width: 600px; width: 50%; height: calc(100% - 20px); }

.layeroverlay.tree .treeContainer { width: 100%; height: 100%; overflow: hidden; }

.layeroverlay.tree .treeMainCell { float: left; width: calc(100% - 5px); height: 100%; }

.layeroverlay.tree .treeResizeCell { float: right; width: 5px; height: 100%; background: #eeeeee; cursor: ew-resize; }

.layeroverlay.tree .contentSection { width: 60%; }

.layeroverlay.tree .asideSection { width: 40%; }

.layeroverlay.browser .layercontent { max-width: 800px; width: 100%; height: 600px; }

.layerheadbox { color: #404040; background: #c0efff; height: 35px; padding: 8px; border-bottom: 1px solid #eeeeee; }

.layerheadbox span { font-size: 14px; }

.layerheadbox div.closeLayer { font-weight: bold; width: 15px; float: right; cursor: pointer; }

.layermainbox { min-height: 100px; padding: 8px; height: calc(100% - 35px); overflow-y: auto; }

.layeroverlay.tree .treeContainer .layermainbox { height: 100%; }

.layermainbox fieldset { margin: 5px; max-height: 500px; overflow-y: auto; }

/* error and message box */
div.error { background: #ff8888; }

div.message { background: #eeee00; }

div.error, div.message { padding: 3px 10px 4px; margin-bottom: 10px; }

div.message button, div.error button { font-weight: bold; background: inherit; border: none; width: 15px; float: right; cursor: pointer; }

/* admin and edit styles */
ul.linkList { background: #ffffff; border: 1px solid #cccccc; }

ul.linkList li { padding: 5px; border-bottom: 1px solid #cccccc; cursor: pointer; }

ul.linkList li:hover { background: #eeeeee; }

div.contextSource, div.selectable { cursor: pointer; }

div.contextMenu { background: #ffffff; border: 1px solid #cccccc; position: absolute; display: none; width: 200px; height: auto; z-index: 1500; }

div.contextMenu div { padding: 5px; border-bottom: 1px solid #ccc; cursor: pointer; }

div.contextMenu div:hover { background: #eeeeee; }

h3.treeHeader { color: #404040; }

.treeRoot div.contextSource, .treeRoot div.selectable { display: inline-block; }

.treeRoot div.contextSource.selected, .treeRoot div.selectable.selected { color: #0F96E8; }

.dropTarget { background: #00EAF7; }

/* cms part */
.adminTree { padding: 10px; }

.siteTree { padding: 10px; background: rgba(255, 255, 255, 0.8); }

.pageEditButtons { border-radius: 5px; box-shadow: 1px 1px 1px #00a inset, 1px 1px 1px #00a; padding: 7px 5px 5px 12px; font-size: 11px; }

.pageEditButtons span { display: inline-block; font-weight: bold; margin-right: 10px; }

.topNavSection ul li.admin .icn.ipencil.open::before { color: white; }

.pageAdminLinks a { color: #404040; }

.pageAdminLinks a:hover { color: #0F96E8; }

.editArea div.contextSource:hover { box-shadow: 1px 1px 1px #ffffff inset, 1px 1px 1px #ffffff; }

.editArea div.contextSource.selected { box-shadow: 1px 1px 1px #ffffff inset, 1px 1px 1px #ffffff; }

.editArea .editSectionHeader { border: 1px solid #aaaaaa; border-radius: 10px; padding: 0 5px 1px 5px; background: #404040; color: #ffffff; }

.editArea .editSectionHeader.contextSource { min-height: 20px; }

.editArea .editSectionHeader.contextSource:hover { background: #404040; color: #c0efff; }

.editArea .buttonset.editSection { padding: 1px 0 3px; display: block; }

.editArea .buttonset.editSection > button { font-size: 9px; }

.editArea div.viewPagePart { min-height: 10px; }

.editArea div.viewPagePart:hover { box-shadow: 1px 1px 1px #c0efff inset, 1px 1px 1px #c0efff; }

.editArea div.editPagePart { box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #fff; }

.editArea input.editField, .editArea textarea.editField, .editArea .textBox input[type="text"], .editArea .textBox textarea { width: 100%; }

.dropping { cursor: crosshair; }

.carbon { background: #404040 url('/_statics/img/carbon.png?1496079847'); }

.carbon-light { background: #eeeeee url('/_statics/img/carbon_light.png?1496079847'); }

/* general classes */
h1 { margin: 0 0 10px 0; }

h1.topCenter { margin: 10px; text-align: center; }

.flexRow { display: -webkit-flex; display: flex; flex-wrap: wrap; flex-direction: row; align-items: stretch; }

.flexCol { display: -webkit-flex; display: flex; flex-wrap: wrap; flex-direction: column; align-items: stretch; }

.flexItem { flex: 1 1; }

.flexItemOne { flex: 1 1; }

.flexItemTwo { flex: 2 1; }

.flexItemThree { flex: 3 1; }

.flexItemFour { flex: 4 1; }

.pullLeft { display: inline-block; float: left; }

.pullRight { display: inline-block; float: right; }

.clearFloat { clear: both; }

.clickable { cursor: pointer; }

.hidden { display: none; }

.fullWidth { width: 100%; }

.maxFullWidth { max-width: 100%; }

.cutContent { overflow: hidden; }

.relative { position: relative; }

.zeroIndex { z-index: 0; }

.inline { display: inline-block; }

.centerAlign { text-align: center; }

.padded { padding: 10px; }

.white { background: #ffffff; }

/********** body and main sections *************/
/* Structure:
 body viewport topNavSection nav headerSection headerMain title menu searchSection breadcrumb searchBox main pageContent mainSection contentSection asideSection footer */
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #404040; height: 100%; overflow-y: hidden; overflow-x: auto; }

/* viewport */
.viewport { position: relative; max-width: 1280px; min-width: 480px; height: 100%; margin: 0 auto 0 auto; background: transparent; }

/* topNavSection above mainArea */
.topNavSection { text-align: right; padding: 0 5px 0 5px; }

.topNavSection ul { display: inline-block; }

.topNavSection ul li { display: inline-block; vertical-align: top; font-size: 11px; margin: 3px; padding: 3px 5px 3px; }

.topNavSection ul li a { color: #00BBEF; }

/*headerSection*/
.headerMain { display: table; width: 100%; position: relative; padding: 0 10px 0 10px; }

.headerMain .title { display: table-cell; vertical-align: top; margin-right: 10px; width: 250px; }

.headerMain .menu { display: table-cell; vertical-align: top; margin-left: 10px; }

a.navBtn { display: none; }

nav.mainNav { border-bottom: 1px solid #eeeeee; margin-top: 15px; }

nav.mainNav ul { list-style: none; text-align: left; padding: 0; margin: 0; }

nav.mainNav li { text-align: left; font-size: 16px; display: inline-block; }

nav.mainNav li a { text-decoration: none; color: #eeeeee; display: block; white-space: nowrap; padding-left: 15px; transition: .3s background-color; }

nav.mainNav li a:hover { color: #c0efff; }

nav.mainNav li ul { position: absolute; display: none; width: inherit; background: #aaaaaa url('/_statics/img/carbon.png?1496079847'); border: 1px solid #cccccc; z-index: 9999; }

nav.mainNav li:hover ul { display: block; }

nav.mainNav li li a:hover { background-color: rgba(255, 255, 255, 0.2); }

nav.mainNav li a.active { color: #c0efff; cursor: default; }

/* Sub Menus */
nav.mainNav li li { display: block; font-size: 14px; font-weight: normal; border-bottom: 1px dotted #cccccc; }

nav.mainNav li li:last-child { border-bottom: none; }

nav.mainNav > ul > li > a { padding: 0 10px; }

nav.mainNav li li a:hover { background-color: rgba(255, 255, 255, 0.2); }

nav.mainNav li li a { padding: 7px 14px 6px 14px; }

nav.mainNav li ul li ul { border: none; position: relative; }

nav.mainNav li li li { font-size: 12px; border-bottom: none; }

nav.mainNav li li li a { padding: 7px 14px 6px 24px; }

.searchSection { display: table; width: 100%; }

.breadcrumb { display: table-cell; font-size: 11px; padding: 0 10px; }

.breadcrumb ul { display: inline-block; vertical-align: top; }

.breadcrumb li { display: inline-block; vertical-align: top; padding: 0 2px; }

.breadcrumb li a { color: #eeeeee; }

.breadcrumb li:last-child a { color: #00EAF7; }

.breadcrumb li a:before { content: "\2192\00A0"; font-size: 14px; }

.searchBox { display: table-cell; min-width: 200px; text-align: right; }

.searchBox input[type="text"] { color: #404040; border: none; margin-right: 5px; }

.searchBox button[type="submit"] { border: none; background: transparent; }

.searchBox button[type="submit"] span.icn::before { color: #00BBEF; }

/* main section */
.main { background: rgba(255, 255, 255, 0.95); bottom: 30px; position: absolute; top: 110px; width: 100%; overflow-y: auto; }

.mainSection { min-height: 300px; }

.contentSection { min-width: 300px; padding: 10px; }

.asideSection { padding: 10px; }

.pagePart img { width: 100%; }

.pagePart .textBox { padding: 0; }

.pagePart .imageBox { padding: 0; }

.pagePart .imageBox img { width: 100%; }

.flexRow.twoCol .pagePart { flex: 1 1; min-width: 50%; }

.flexRow.threeCol .pagePart { flex: 1 1; min-width: 33%; }

.flexRow.fourCol .pagePart { flex: 1 1; min-width: 25%; }

.separator { height: 1px; margin: 10px 0; border-bottom: 1px dotted #000; }

.teaser { padding: 10px; }

.aside { border: 1px solid #cccccc; margin-bottom: 10px; }

.aside h3 { background: #cccccc; padding: 5px; }

.aside .imageBox { padding: 0; }

.aside .textBox { padding: 5px; }

.article { padding: 0; }

.article h1 { padding: 0; }

.article h2 { padding: 0; }

.article .summary { padding: 0; }

.article .textBox { padding: 0; }

.article .textBox a { padding: 0; }

/* footer section */
.footer { position: absolute; height: 30px; width: 100%; left: 0; bottom: 0; background: transparent; color: #aaaaaa; padding: 5px 0; }

.footer a, .footer a:active, .footer a:hover, .footer a:focus { color: #cccccc; }

/* special pages */
section.searchResults { padding: 20px; }

.searchResults h1 { margin-bottom: 20px; }

.searchResults span.searchInfo { margin-left: 10px; }

.searchResults span.searchInfo a { cursor: pointer; }

.searchResultsTable { width: 100%; }

.searchResultsTable tr td { padding: 5px 3px 3px; }

.searchResultsTable tr:first-child { border-bottom: 1px solid #aaaaaa; }

.searchResultsTable tr:first-child th { padding-bottom: 5px; }

.searchResultsTable .col1 { width: 10%; }

.searchResultsTable .col2 { width: 20%; }

.searchResultsTable .col3 { width: 20%; }

.searchResultsTable .col4 { width: 40%; }

.searchResultsTable .col5 { width: 10%; }

.searchHighlight { background: #ffff00; }

.mainSection.login form { max-width: 100%; width: 500px; margin: 20px auto; }

.mainSection.login fieldset { padding: 40px; }

/************ mobile part ***********/
body.mobile { height: auto; overflow: auto; }

.mobile .viewport { height: auto; margin: 0 10px; }

.mobile .topNavSection div:first-child { display: none; }

.mobile .headerMain { display: block; }

.mobile .title { display: block; width: 100%; }

.mobile a.logo { display: inline-block; }

.mobile a.navBtn { display: block; float: right; width: 33px; height: 24px; margin-top: 15px; background: url('/_statics/img/navbtn.png?1496079847') no-repeat; cursor: pointer; }

.mobile .menu { display: block; margin: 10px 0 10px 0; border: 1px solid #aaaaaa; background: rgba(255, 255, 255, 0.1); }

.mobile nav.mainNav { position: inherit; border: none; display: none; }

.mobile nav.mainNav.open { display: block; }

.mobile nav.mainNav ul li { display: block; border-top: none; border-left: none; border-right: none; border-bottom: 1px dotted #c8c8c8; }

.mobile nav.mainNav ul li:last-child { border-bottom: none; }

.mobile nav.mainNav ul li ul { position: inherit; display: block; border: none; background: inherit; }

.mobile nav.mainNav ul li ul li { padding-left: 20px; }

nav.mainNav li li a:hover { background: inherit; }

.mobile .breadcrumb { height: auto; }

.mobile .searchSection { margin-bottom: 10px; }

.mobile .main { bottom: auto; position: inherit; width: auto; top: auto; overflow: inherit; }

.mobile .footer { position: inherit; width: auto; }

@media print { html { height: auto !important; }
  body { height: auto; overflow-y: auto !important; }
  .viewport { height: auto !important; }
  .navSection { display: none; }
  .breadcrumb { height: auto; }
  .topNavSection { display: none; }
  .main { bottom: auto; position: inherit; width: 100%; top: auto; overflow: inherit; }
  aside { display: none; }
  .footer { display: none; } }

/*# sourceMappingURL=style.css.map */
