.blogEntry {
  margin: 10px 0 10px 0;
  border: solid 1px #ddd;
}

.blogEntryTitle {
  background: #ddd;
  padding: 5px;
}

.blogEntryText {
  padding: 5px;
}

.blogEntryTitle input {
  width: 95%;
}

.blogEntryText textarea {
  width: 95%;
}

div.chatEntry {
  padding: 3px;
  overflow: hidden;
}

div.chatUser {
  font-weight: bold;
  margin-bottom: 3px;
}

div.chatText {
}

div.chatInput {
  margin-top: 20px;
  padding: 3px;
  overflow: hidden;
}

div.chatInputLabel {
  font-weight: bold;
  margin-bottom: 3px;
}

div.chatInput {
}