@function img-path($name) {
  @return '../img/'+$name;
}

$mid-blue:      #27446a;
$light:         #f8f9fa; //gray-100
$dark:          #343a40; //gray-800
$background-body: $mid-blue url(img-path('pattern.svg'));
$font-size-base: 1rem;
$font-size-sm:   ($font-size-base * .9);
$font-size-xsm:  ($font-size-base * .8);

body {
  background: $background-body;
  color: $dark;
  height: 100%;
}

a, a:active, a:hover, a:visited{
  color: $dark;
}

button:focus, a:focus, .btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

header{

  background: transparent;
  color: $light;
  padding: 0 1rem;

  section.sysnav{
    background: transparent;

    a {
      text-decoration: none;
      color: $light;
    }

    a.nav-link {
      padding: 0;
      margin: 0.25rem 0 0.25rem 0.5rem;
      font-size: $font-size-xsm;
      color: $light;
    }

    .dropdown-menu{
      padding: 0;

      .dropdown-item{
        color: $dark;
        font-size: $font-size-xsm;
      }
    }

  }

  div.menu{
    border-bottom: 1px solid $light;

    section.menu {

      nav.navbar {
        padding:0;

        .navbar-toggler span{
          color: $light;
        }

        a.navbar-brand {
          color: $light;
          img {
            height: 3rem;
          }
        }

        .navbar-collapse{
          margin-top: 44px;
        }

        .nav-item {
          a {
            color: $light;
          }

        }

        .nav-link {
          padding: 0.25rem 1rem;
        }

        .dropdown-toggle::after {
          vertical-align: 0.1em;
        }

        .dropdown-menu {
          background: $background-body;
          padding: 0.25rem 0;
          margin: 0;
          border-color: $light;
          border-width: 0 1px 1px 1px;
          border-radius: 0;

          .dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active{
            background: rgba(255,255,255,0.2);
          }

          .dropdown-item.subitem {
            padding-left: 3rem;
            font-size: $font-size-sm;
          }

          .nav-item {
            a {
              color: $light;
            }

          }

        }

        .nav-item.dropdown.hover:hover .dropdown-menu{
          display: block;
        }

      }

    }

  }

  div.bc {

    .breadcrumb {
      background: transparent;
      color: $light;
      margin: 0;
      font-size: $font-size-xsm;
      padding: 0.25rem 0;

      .breadcrumb-item.active {
        color: $light;
      }

      a {
        color: $light;
        text-decoration: none;
      }
    }

  }

}

main {
  padding-bottom: 3rem;

  div#pageContent {

    h1, h2, h3 {
      margin: 0;
    }

    h1.title {
      margin-bottom: 1rem;
      text-align: center;
      color: $light;
    }

    .contentTop {
      color: $light;
    }

    .headerBox {
      padding: 0.5rem 1rem;
    }

    .headerBox h1 {
      text-align: center;
    }

    .htmlBox {
      background: white;
      padding: 1rem;
    }

    .imageBox {
      background: white;
      padding: 0;

      img {
        width: 100%;
      }
    }

    h3.partHeader {
      background: $dark;
      padding: 0.5rem 1rem;
    }

    .paragraph {
      background-color: rgba(255, 255, 255, 0.95);
      border: solid 1px $dark;
      border-radius: 15px;
      padding: 1rem;
      height: calc(100% - 30px);
      margin-top: 15px;
      overflow: hidden;

      h2 {
        border-bottom: 1px solid;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }

      h3 {
        border-width: 1px 0;
        border-style: solid;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
      }

      img{
        max-width : 100%;
      }

      img[style*="float: left;"], img[style*="float:left;"]{
        margin-right: 0.5em;
        margin-bottom: 0.5em;
      }

      img[style*="float: right;"], img[style*="float:right;"]{
        margin-left: 0.5em;
        margin-bottom: 0.5em;
      }

    }

    .asideSection {
      .paragraph {
        background: rgba(255, 255, 255, 0.9);
        border-color: $dark;
      }
    }

  }
}

.container.fixed-bottom{
  background: $background-body;
  border-top: 1px solid $light;
  height: 2.25rem;
}

footer {
  color: $light;
  font-size: 0.8rem;
  padding: 0;

  a, a:active, a:hover, a:focus, a:visited {
    color: $light;
  }
}

#searchboxform{
  padding: 1rem 0;

  .form-control{
    height: auto;
    padding: 0 0.75rem;
  }

}

div.searchResults{
  padding-top: 1rem;

  div.searchResult{

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid $dark;

    div.searchTitle{
      font-size: 1.2em;
    }
    div.searchDescription{
      padding-top:0.5em;
      font-style: italic;
    }
    div.searchContent{
      padding-top: 0.5em;
    }
  }
}

.searchHighlight{
  background: yellow;
}

body.admin {

  main{
    top: 6.5rem;
  }

  div#pageContainer {
    background: white;
  }
}

/* admin */

body.admin{
  div#pageContainer {
    margin-top: 1rem;
    background: white;
    min-height: 500px;
  }
}

/* login */

body.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  #main{

    .loginSection {

      .form {
        width: 100%;
        max-width: 360px;
        padding: 30px;
        margin: 20% auto;
        background: rgba(255,255,255,0.95);
        border: 1px solid $light;
        border-radius: 5px;
        img {
          height: 40px;
        }

        .form-control:focus {
          z-index: 2;
        }

        input[type="text"] {
          margin-bottom: 0.5rem;
        }

        input[type="password"] {
          margin-bottom: 2rem;
        }
      }
    }

  }
}


// in ckeditor

a.link::before{
  content : "\203A";
  padding-right: 0.25em;
}

a.mail::before{
  content: "\f003";
  font-family: FontAwesome;
  padding-right: 0.25em;
}

