<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Bandika! - A Java based Content Management System
  Copyright (C) 2009-2011 Michael Roennau

  This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.
  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  You should have received a copy of the GNU General Public License along with this program; if not, see <http://www.gnu.org/licenses/>.

  Code format: This code uses 2 blanks per indent!
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <servlet>
    <servlet-name>adminservlet</servlet-name>
    <servlet-class>de.bandika.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>communicationservlet</servlet-name>
    <servlet-class>de.bandika.communication.CommunicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>documentservlet</servlet-name>
    <servlet-class>de.bandika.document.DocumentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>imageservlet</servlet-name>
    <servlet-class>de.bandika.image.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>menuservlet</servlet-name>
    <servlet-class>de.bandika.page.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pageservlet</servlet-name>
    <servlet-class>de.bandika.page.PageServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>de.bandika.user.UserServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>snoopservlet</servlet-name>
    <servlet-class>SnoopServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminservlet</servlet-name>
    <url-pattern>/_admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>communicationservlet</servlet-name>
    <url-pattern>/_comm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>documentservlet</servlet-name>
    <url-pattern>/_doc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imageservlet</servlet-name>
    <url-pattern>/_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menuservlet</servlet-name>
    <url-pattern>/_menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pageservlet</servlet-name>
    <url-pattern>/_page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/_user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>snoopservlet</servlet-name>
    <url-pattern>/snoopservlet</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

</web-app>
