/* icons */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.11.eot');
    src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
    url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
    url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icn:before {
    font-family: 'LigatureSymbols';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin-right: 0.3em;
    font-size: 130%;
    color: #888;
}

.icn.disabled:before {
    color: #ccc;
}

.icn.iaction:before {
    content: '\E117';
}

.icn.iadd:before {
    content: '\E108';
}

.icn.iassets:before {
    content: '\E129';
}

.icn.iattach:before {
    content: '\E030';
}

.icn.iaudio:before {
    content: '\E094';
}

.icn.icache:before {
    content: '\E023';
}

.icn.icalendar:before {
    content: '\E15e';
}

.icn.icancel:before {
    content: '\E012';
}

.icn.iclear:before {
    content: '\E148';
}

.icn.icode:before {
    content: '\E032';
}

.icn.icopy:before {
    content: '\E038';
}

.icn.icut:before {
    content: '\E03b';
}

.icn.idelete:before {
    content: '\E12c';
}

.icn.idown:before {
    content: '\E03e';
}

.icn.idownload:before {
    content: '\E115';
}

.icn.iedit:before {
    content: '\E041';
}

.icn.ifile:before {
    content: '\E048';
}

.icn.ifiles:before {
    content: '\E04c';
}

.icn.ifolder:before {
    content: '\E04c';
}

.icn.igroup:before {
    content: '\E051';
}

.icn.ihelp:before {
    content: '\E070';
}

.icn.ihistory:before {
    content: '\E028';
}

.icn.ihome:before {
    content: '\E072';
}

.icn.iimage:before {
    content: '\E074';
}

.icn.iimport:before {
    content: '\E087';
}

.icn.iinfo:before {
    content: '\E075';
}

.icn.iinherit:before {
    content: '\E07c';
}

.icn.ilogin:before {
    content: '\E087';
}

.icn.ilogout:before {
    content: '\E088';
}

.icn.imail:before {
    content: '\E08a';
}

.icn.inew:before {
    content: '\E147';
}

.icn.iopen:before {
    content: '\E09f';
}

.icn.iok:before {
    content: '\E029';
}

.icn.ipage:before {
    content: '\E08d';
}

.icn.ipages:before {
    content: '\E04c';
}

.icn.ipart:before {
    content: '\E12a';
}

.icn.ipassword:before {
    content: '\E07c';
}

.icn.ipaste:before {
    content: '\E095';
}

.icn.iprofile:before {
    content: '\E09c';
}

.icn.ipublish:before {
    content: '\E046';
}

.icn.irefresh:before {
    content: '\E10e';
}

.icn.ireplace:before {
    content: '\E110';
}

.icn.iremove:before {
    content: '\E08f';
}

.icn.iright:before {
    content: '\E086';
}

.icn.isearch:before {
    content: '\E116';
}

.icn.isetting:before {
    content: '\E055';
}

.icn.ishare:before {
    content: '\E11f';
}

.icn.isite:before {
    content: '\E16d';
}

.icn.isync:before {
    content: '\E125';
}

.icn.itemplate:before {
    content: '\E095';
}

.icn.itimer:before {
    content: '\E12b';
}

.icn.iup:before {
    content: '\E135';
}

.icn.iuser:before {
    content: '\E137';
}

.icn.ivideo:before {
    content: '\E139';
}

.icn.iweb:before {
    content: '\E13f';
}

